In [37]:
from sqlalchemy import create_engine, text
from sqlalchemy.dialects.mysql import VARCHAR, INTEGER, DOUBLE
import pandas as pd
from warnings import filterwarnings
import pymysql
filterwarnings('ignore', category=pymysql.Warning)
import os

In [38]:
engine = create_engine('mysql+pymysql://root:AQib.21Talib@localhost')  # connect to server
engine.execute("drop database if exists birdsong")
engine.execute("create database birdsong")
engine.dispose() 

engine = create_engine('mysql+pymysql://root:kcmo1728@localhost/birdsong') # select new db

In [39]:
file_name = os.path.join("resources", "birdsong.csv")
df = pd.read_csv(file_name)

In [40]:
df.head()

,file_id,genus,species,english_cname,who_provided_recording,country,latitude,longitute,type,license
0,132608,Acanthis,flammea,Common Redpoll,Jarek Matusiak,Poland,50.7932,15.4995,"female, male, song",http://creativecommons.org/licenses/by-nc-sa/3.0/
1,132611,Acanthis,flammea,Common Redpoll,Jarek Matusiak,Poland,50.7932,15.4995,"flight call, male, song",http://creativecommons.org/licenses/by-nc-sa/3.0/
2,35068,Acanthis,flammea,Common Redpoll,Sander Bot,Netherlands,52.8176,6.4326,"call, song",http://creativecommons.org/licenses/by-nc-nd/2.5/
3,82715,Acrocephalus,palustris,Marsh Warbler,Dougie Preston,United Kingdom,60.3539,-1.2689,Song,http://creativecommons.org/licenses/by-nc-nd/2.5/
4,64685,Acrocephalus,palustris,Marsh Warbler,Dougie Preston,United Kingdom,60.3539,-1.2689,Song,http://creativecommons.org/licenses/by-nc-nd/2.5/

### Pandas to_sql 

* Even though it's a Pandas function we are passing it the sqlAlchemy engine that we created earlier. Pandas uses this engine to connect to SQL. http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html

**name** : name of the table

**if_exists** : {‘fail’, ‘replace’, ‘append’}, default ‘fail’
fail: If table exists, do nothing.
replace: If table exists, drop it, recreate it, and insert data.
append: If table exists, insert data. Create if does not exist.

**index** : write our Pandas dataframe index as a column. Usually you want to say False.

In [41]:
df.to_sql(con=engine, name='birds', if_exists='replace', index=False)

In [42]:
engine.execute("alter table birds add primary key(file_id);")

In [43]:
new_df = pd.read_sql_query('select * from birds', engine)
new_df.head()

,file_id,genus,species,english_cname,who_provided_recording,country,latitude,longitute,type,license
0,27039,Caprimulgus,europaeus,European Nightjar,Patrik berg,Sweden,58.4392,14.3298,Song,http://creativecommons.org/licenses/by-nc-sa/3.0/
1,27145,Corvus,frugilegus,Rook,Patrik berg,Sweden,55.6289,13.7128,Call,http://creativecommons.org/licenses/by-nc-sa/3.0/
2,27999,Acrocephalus,scirpaceus,Eurasian Reed Warbler,Stuart Fisher,United Kingdom,51.2887,-0.5267,Song,http://creativecommons.org/licenses/by-nc-nd/2.5/
3,28961,Chloris,chloris,European Greenfinch,Stuart Fisher,United Kingdom,51.5278,-0.0100,song,http://creativecommons.org/licenses/by-nc-nd/2.5/
4,30390,Erithacus,rubecula,European Robin,Stuart Fisher,United Kingdom,51.3170,-0.5592,song,http://creativecommons.org/licenses/by-nc-nd/2.5/

### DataTypes

* The above was quick and easy. We didn't specify our datatypes. 

* See SqlAlchemy Documentation for a full list of types: http://docs.sqlalchemy.org/en/latest/core/type_basics.html#sql-standard-and-multiple-vendor-types

In [44]:
engine.execute("drop table birds;")

In [45]:
df.to_sql(con=engine, name='birds', if_exists = 'replace',  index = False, 
          dtype={'file_id': INTEGER(), 
                 'genus':  VARCHAR(length=255),
                 'species': VARCHAR(length=255),
                 'english_cname': VARCHAR(length=255),
                 'who_provided_recording': VARCHAR(length=255),
                 'country': VARCHAR(length=255),
                 'latitude': DOUBLE(),
                 'longitude': DOUBLE(),
                 'type': VARCHAR(length=255),
                 'license': VARCHAR(length=255)})

In [46]:

new_df = pd.read_sql_query('select * from birds', engine)
new_df.head()

,file_id,genus,species,english_cname,who_provided_recording,country,latitude,longitute,type,license
0,132608,Acanthis,flammea,Common Redpoll,Jarek Matusiak,Poland,50.7932,15.4995,"female, male, song",http://creativecommons.org/licenses/by-nc-sa/3.0/
1,132611,Acanthis,flammea,Common Redpoll,Jarek Matusiak,Poland,50.7932,15.4995,"flight call, male, song",http://creativecommons.org/licenses/by-nc-sa/3.0/
2,35068,Acanthis,flammea,Common Redpoll,Sander Bot,Netherlands,52.8176,6.4326,"call, song",http://creativecommons.org/licenses/by-nc-nd/2.5/
3,82715,Acrocephalus,palustris,Marsh Warbler,Dougie Preston,United Kingdom,60.3539,-1.2689,Song,http://creativecommons.org/licenses/by-nc-nd/2.5/
4,64685,Acrocephalus,palustris,Marsh Warbler,Dougie Preston,United Kingdom,60.3539,-1.2689,Song,http://creativecommons.org/licenses/by-nc-nd/2.5/

In [47]:
engine.execute("alter table birds add primary key(file_id);")