## Queries

In [1]:
from sqlalchemy import create_engine
import pandas as pd
from warnings import filterwarnings
import pymysql
filterwarnings('ignore', category=pymysql.Warning)
import os

In [2]:
engine = create_engine('mysql+pymysql://root:kcmo1728@localhost/birdsong')  # connect to server

In [3]:
new_df = pd.read_sql_query('select * from birds', engine)
new_df.head()

,file_id,genus,species,english_cname,who_provided_recording,country,latitude,longitute,type,license
0,27039,Caprimulgus,europaeus,European Nightjar,Patrik berg,Sweden,58.4392,14.3298,Song,http://creativecommons.org/licenses/by-nc-sa/3.0/
1,27145,Corvus,frugilegus,Rook,Patrik berg,Sweden,55.6289,13.7128,Call,http://creativecommons.org/licenses/by-nc-sa/3.0/
2,27999,Acrocephalus,scirpaceus,Eurasian Reed Warbler,Stuart Fisher,United Kingdom,51.2887,-0.5267,Song,http://creativecommons.org/licenses/by-nc-nd/2.5/
3,28961,Chloris,chloris,European Greenfinch,Stuart Fisher,United Kingdom,51.5278,-0.0100,song,http://creativecommons.org/licenses/by-nc-nd/2.5/
4,30390,Erithacus,rubecula,European Robin,Stuart Fisher,United Kingdom,51.3170,-0.5592,song,http://creativecommons.org/licenses/by-nc-nd/2.5/

* In order to select specific rows from a table based upon some values stored within a column, a `WHERE <column> = <value>` statement is added into the code.

* For example, to select only those rows within the "birdsongs" table whose "genus" is "Acanthis", `SELECT * FROM birdsong WHERE genus = "Acanthis"` would be used.

* There may be cases in which users desire to search for rows where two conditions or more are met. MySQL allows this by using the `AND` statement.

* For example, to select rows within the "birdsongs" table whose "genus" is "Acanthis" and whose "country" is "Netherlands, `SELECT * FROM birdsong WHERE genus = "Acanthis" AND country ="Netherlands"` would be used.

    * `OR` statements can also be used when creating queries to search for rows whose values match in one way or another, thus widening the search.

    * It is also possible to search for results by excluding certain criteria by using the `WHERE NOT` statement.

### Aggregation - Count, Sum, Average

### Group by