In [1]:
from sqlalchemy import create_engine
import pandas as pd
from warnings import filterwarnings
import pymysql
filterwarnings('ignore', category=pymysql.Warning)
import os

In [2]:
file_name1 = os.path.join('resources','WordAssociation-AC.csv')
file_name2 = os.path.join('resources','WordAssociation-BC.csv')
file_name3 = os.path.join('resources','WordAssociation-CC.csv')

* **Instructions**:

    * Create a word_association database.
    
    * Create a `word` table, and import the three .csv files into this table.
    
    * Make the 'author' column the Primary Key.

    * Create a query that collects all of the rows whose "source" is "AC"

    * Create a query that collects all of the rows whose "source" is "BC"

    * Create a query that collects all of the rows whose "source" is "CC"

    * Create a query that collects all of the rows whose author is within the range of 0-20

    * Create a query that searches for any rows that have "pie" in their "word1" or "word2" columns

* **Bonus**:

    * There are some functions in MySQL that allow users to perform simple calculations like `MIN()`, `MAX()`, `COUNT()`, `AVG()`, and `SUM()`. Look some of these funcions up and then perform the following calculations...

    * Find the total number of records within the data table using the `MAX()` function

    * Find the lowest "ID" for those rows with a "source" of "CC"

    * Count how many rows have an "author" of 12

In [3]:
engine = create_engine('mysql+pymysql://root:kcmo1728@localhost')  # connect to server
engine.execute("drop database if exists word_association")
engine.execute("create database word_association") #create db
engine.dispose() 

engine = create_engine('mysql+pymysql://root:kcmo1728@localhost/word_association') # select new db

In [4]:
all_files = [file_name1, file_name2, file_name3]
data = []
for file_name in all_files:
    df = pd.read_csv(file_name)
    data.append(df)
data_frame = pd.concat(data)
len(data_frame)

48964

In [5]:
data_frame.head()

   author       word1    word2 source
0     289      maudie  atticus     AC
1     312      limpet     mine     AC
2     235     magneto  fiction     AC
3     312  john deere  tractor     AC
4     218        read  library     AC