# Subqueries

## Instructions

1. Warmup question: list the names and ID numbers of cities that are in the following list:	'Qalyub', 'Qinhuangdao', 'Qomsheh', 'Quilmes'. Hint use `where city in`

2. Display the districts in the above list of cities:

## Hints

* For Question 2, use the `address` and `city` tables.

* For the bonus, you will need to use three tables.

## Bonus

* Using subqueries, find the first and last names of customers who reside in cities that begin with the letter **Q**. 

* Try using the `where city like 'Q%'` SQL Command. Unfortunately, Python will interpret the % as a printf format character, so you will need to use `where city like 'Q%%'`. See https://stackoverflow.com/questions/11695801/python-valueerror-unsupported-format-character-0x27-at-index-1 for more details

In [3]:
from sqlalchemy import create_engine
import pandas as pd
from warnings import filterwarnings
import pymysql
filterwarnings('ignore', category=pymysql.Warning)
import os

In [4]:
engine = create_engine('mysql+pymysql://root:AQib.21Talib@localhost/sakila')

Feel free to use code from the examples below:

In [3]:
sql_query = """
select i.inventory_id, i.film_id, i.store_id
from inventory i
join film f
on (i.film_id = f.film_id)
where f.title = 'Early Home';
"""
joined = pd.read_sql_query(sql_query, engine)
joined.head()

   inventory_id  film_id  store_id
0          1206      268         2
1          1207      268         2

In [4]:
sql_query = """
select * 
from inventory
where film_id IN
(
  select film_id
  from film
  where title = 'Early Home'
);
"""
joined = pd.read_sql_query(sql_query, engine)
joined.head()

   inventory_id  film_id  store_id         last_update
0          1206      268         2 2006-02-15 05:09:17
1          1207      268         2 2006-02-15 05:09:17