# Mine the Subqueries

## Instructions

1. Using subqueries, identify all actors who appear in the film _Alter Victory_ in the `sakila` database.

2. Using subqueries, display the titles of films that were rented out by an employee named Jon Stephens. 

## Bonus

* For problem No. 2, refine the query to select for films that were rented on May 31st, and whose titles begin with the letter **C**.

In [2]:
from sqlalchemy import create_engine
import pandas as pd
from warnings import filterwarnings
import pymysql
filterwarnings('ignore', category=pymysql.Warning)
import os
engine = create_engine('mysql+pymysql://root:AQib.21Talib@localhost/sakila')

In [3]:
actor = pd.read_sql_query('select * from actor', engine)
actor.head()

   actor_id first_name     last_name         last_update
0         1   PENELOPE       GUINESS 2006-02-15 04:34:33
1         2       NICK      WAHLBERG 2006-02-15 04:34:33
2         3         ED         CHASE 2006-02-15 04:34:33
3         4   JENNIFER         DAVIS 2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33

* Using subqueries, identify all actors who appear in the film _Alter Victory_ in the `sakila` database.

* Using subqueries, display the titles of films that were rented out by an employee named Jon Stephens.

* For the last problem, refine the query to select for films that were rented on May 31st, and whose titles begin with the letter **C**.

In [7]:
sql_query = """
    select *
    from actor
    where actor_id in
    (
        select film_id
        from film_actor
        where film_id in
        (
            select *
            from film
            where title = 'Alter Victory'
        )
    );
"""
film = pd.read_sql_query(sql_query, engine)
film.head()

InternalError: (pymysql.err.InternalError) (1241, 'Operand should contain 1 column(s)') [SQL: "\n    select *\n    from actor\n    where actor_id in\n    (\n        select film_id\n        from film_actor\n        where film_id in\n        (\n            select *\n            from film\n            where title = 'Alter Victory'\n        )\n    );\n"]

In [4]:
film = pd.read_sql_query('select * from film', engine)
film.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42