## Self Joins

* It is possible to join a table to itself. 

* For example, we can use a self-join in `sakila` to find customers who live in the same city.

In [1]:
from sqlalchemy import create_engine
import pandas as pd
from warnings import filterwarnings
import pymysql
filterwarnings('ignore', category=pymysql.Warning)
import os

In [2]:
engine = create_engine('mysql+pymysql://root:AQib.21Talib@localhost/sakila')

In [3]:
sql_query = """
  SELECT A.NAME, B.NAME, A.CITY
  FROM customer_list A
  JOIN customer_list B
  USING (city)
  WHERE A.ID <> B.ID;   
"""
joined = pd.read_sql_query(sql_query, engine)
joined.head()

             name            name    city
0   SCOTT SHELLEY  CLINTON BUFORD  Aurora
1  CLINTON BUFORD   SCOTT SHELLEY  Aurora
2  MATTIE HOFFMAN     CECIL VINES  London
3     CECIL VINES  MATTIE HOFFMAN  London