In [1]:
from sqlalchemy import create_engine
import pandas as pd
from warnings import filterwarnings
import pymysql
filterwarnings('ignore', category=pymysql.Warning)
import os
engine = create_engine('mysql+pymysql://root:kcmo1728@localhost/sakila')

In [2]:
def RunSQL(sql_command):
    connection = pymysql.connect(host='localhost',
                             user='root',
                             password='kcmo1728',
                             db='sakila',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)
    try:
        with connection.cursor() as cursor:
            commands = sql_command.split(';')
            for command in commands:
                if command == '\n': continue
                cursor.execute(command + ';')
                connection.commit()
    except Exception as e: 
        print(e)
    finally:
        connection.close()

### Indexes 

* Think of a book. In order to locate a certain topic, we can scan the book line-by-line from the beginning, or use the index. Similarly, MySQL can use indexing to speed up its search. 

* Querying by using the primary key is extremely speedy. This is similar to having a table of contents, where the chapters are neatly ordered.

* When we need to make frequent queries that do not use a primary key, we can create an index to make searches faster.

* Indexing is easy. Run the following statement:

In [5]:
sql_query = """
create index my_custom_index
on film(replacement_cost);
"""
RunSQL(sql_query)

(1061, "Duplicate key name 'my_custom_index'")


* Next, run the following to display our indexes for the `film` table:

  ```sql
  SHOW INDEX 
  FROM film;
  ```

In [6]:
sql_query = """
show index from film;
"""
joined = pd.read_sql_query(sql_query, engine)
joined.head()

,Table,Non_unique,Key_name,Seq_in_index,Column_name,Collation,Cardinality,Sub_part,Packed,Null,Index_type,Comment,Index_comment
0,film,0,PRIMARY,1,film_id,A,1000,None,None,,BTREE,,
1,film,1,idx_title,1,title,A,1000,None,None,,BTREE,,
2,film,1,idx_fk_language_id,1,language_id,A,1,None,None,,BTREE,,
3,film,1,idx_fk_original_language_id,1,original_language_id,A,1,None,None,YES,BTREE,,
4,film,1,my_custom_index,1,replacement_cost,A,21,None,None,,BTREE,,

* And it shows that `my_custom_index`, which we just created, keeps track of the `replacement_cost` column.

* This means that if we run a query that searched for films by replacement costs, instead of searching the whole table, it quickly scans the index for the pertinent information instead.

* One example of a column that benefits from indexing is a username column, which may be searched every time a user logs in. The same is true of email addresses, if used to log in.

* There is a cost to indexing. While it makes retrieval faster, it can slow down updating and inserting records, as indexing adds to the write time.