In [2]:
import matplotlib.pyplot as plt
from scipy.stats import zscore
import pandas as pd

data_frame = pd.DataFrame({'numbers':[8, 8, 12, 24, 54, 54, 75, 78, 98, 102, 132, -110]})
data_frame

    numbers
0         8
1         8
2        12
3        24
4        54
5        54
6        75
7        78
8        98
9       102
10      132
11     -110

In [3]:
# With the data_frame above, find the lower and upper quartiles

In [4]:
# add a column to the dataframe labelled z-score
# and compute the z-score for each item

In [5]:
# create box and whisker plot of the numbers column

In [6]:
# Calculate the Interquartile Range. IQR = Q3 - Q1

In [ ]:
# Remove outliers from the data set.