In [3]:
# Dependencies
from random import randint

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.stats import sem, ttest_ind
import os

Suppose you have a technique that you believe will affect the age at which children begin speaking. 

* In your locale, the average age of first word utterances is 13.0 months. 
* The standard deviation is unknown. 
* You apply your technique to a random sample of 15 children. 
* The results show that the sample mean age of first word utterances is 11.0 months, with a standard deviation of 3.34.

* What is the null hypothesis?

* What is the alternative hypothesis?

* Did the technique work? Use an alpha of 0.05

In [55]:
np.random.seed(1)
s = np.random.normal(11.0, 3.34, 15)
df = pd.DataFrame(s)
df

            0
0   16.425314
1    8.956734
2    9.235906
3    7.416285
4   13.890461
5    3.312861
6   16.827671
7    8.457569
8   12.065591
9   10.167103
10  15.883441
11   4.119130
12   9.923127
13   9.717258
14  14.786790

In [56]:
df.mean()

0    10.745683
dtype: float64

In [57]:
import scipy.stats as stats
(t_stat, p) = stats.ttest_1samp(a= df,               # Sample data
                 popmean= 13.5) 
#(t_stat, p) = stats.ttest_ind(s1, s2, equal_var=False)
print (t_stat)
print (p)

[-2.54153678]
[ 0.02349984]

That was great! My experiment worked!

But let's say there was one child in my experiment who didn't begin speaking until they were 17.7 months. I decided to exclude this child from my experiment because I didn't like their parents and didn't think they were really following my instructions. 

Was I p-hacking?

In [46]:
s = [17.7]
df = df.append(pd.DataFrame(s))

In [47]:
df.mean()

0    11.180327
dtype: float64

In [48]:
import scipy.stats as stats
(t_stat, p) = stats.ttest_1samp(a= df,               # Sample data
                 popmean= 13.5) 
#(t_stat, p) = stats.ttest_ind(s1, s2, equal_var=False)
print (t_stat)
print (p)

[-2.10309876]
[ 0.05274676]

It does radically change the experiment outcome.
Notice that if I had 30 children, this one child would not change the outcome.

In [85]:
np.random.seed(1)
s = np.random.normal(11.0, 3.34, 30)
df = pd.DataFrame(s)
s = [17.7]
df = df.append(pd.DataFrame(s))
(t_stat, p) = stats.ttest_1samp(a= df,               # Sample data
                 popmean= 13.5) 
#(t_stat, p) = stats.ttest_ind(s1, s2, equal_var=False)
print (t_stat)
print (p)

[-3.84140444]
[ 0.00058931]