# A View with a Roomful of Queries

## Instructions

1. Write a MySQL statement to query a film title, and the numbers of copies that exist in the inventory for that title. The results should look like the below. Your challenge is to use a subquery--a query embedded within another query--instead of a join.

   ![Subquery](images/Subquery.png)
  
2. Create a view with the above query and run it. 

### Bonus

If you finish early, begin looking into indexing in MySQL. What does it do? What do we index, and how? Is it analogous to indexing in books?

In [1]:
from sqlalchemy import create_engine
import pandas as pd
from warnings import filterwarnings
import pymysql
filterwarnings('ignore', category=pymysql.Warning)
import os
engine = create_engine('mysql+pymysql://root:AQib.21Talib@localhost/sakila')

In [2]:
def RunSQL(sql_command):
    connection = pymysql.connect(host='localhost',
                             user='root',
                             password='kcmo1728',
                             db='sakila',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)
    try:
        with connection.cursor() as cursor:
            commands = sql_command.split(';')
            for command in commands:
                if command == '\n': continue
                cursor.execute(command + ';')
                connection.commit()
    except Exception as e: 
        print(e)
    finally:
        connection.close()

In [ ]:
sql_query = """
select * 
from inventory
where film_id IN
(
  select film_id
  from film
  where title = 'Early Home'
);
"""
joined = pd.read_sql_query(sql_query, engine)
joined.head()