# Self Joins

## Instructions

* A very common case for self joins is a table of employees.

In [1]:
from sqlalchemy import create_engine
import pandas as pd
from warnings import filterwarnings
import pymysql
filterwarnings('ignore', category=pymysql.Warning)
import os
engine = create_engine('mysql+pymysql://root:AQib.21Talib@localhost')  # connect to server
engine.execute("create database if not exists emps") #create db

In [6]:
engine = create_engine('mysql+pymysql://root:AQib.21Talib@localhost/emps')

In [7]:
def RunSQL(sql_command):
    connection = pymysql.connect(host='localhost',
                             user='root',
                             password='AQib.21Talib',
                             db='emps',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)
    try:
        with connection.cursor() as cursor:
            commands = sql_command.split(';')
            for command in commands:
                if command == '\n': continue
                cursor.execute(command + ';')
                connection.commit()
    except Exception as e: 
        print(e)
    finally:
        connection.close()

In [10]:
sql_query = """
drop table if exists emps;
CREATE TABLE emps(
 employee_id int(8) NOT NULL,
 first_name varchar(125) NOT NULL,
 last_name varchar(125) NOT NULL,
 supervisor_id int(8),
 PRIMARY KEY(employee_id)
);

INSERT INTO emps VALUES (25, 'Sandy', 'Waxman', 100);
INSERT INTO emps VALUES (26, 'Yukio', 'Mishima', 100);
INSERT INTO emps VALUES (27, 'Serge', 'Gainsbourg', 100);
INSERT INTO emps VALUES (100, 'Sidney', 'Meiru', 100);
"""
RunSQL(sql_query)

In [11]:
emps = pd.read_sql_query('select * from emps', engine)
emps.head()

   employee_id first_name   last_name  supervisor_id
0           25      Sandy      Waxman            100
1           26      Yukio     Mishima            100
2           27      Serge  Gainsbourg            100
3          100     Sidney       Meiru            100

* Each row in this table contains the ID number of the employee, as well as the ID number of that employee's supervisor. Each supervisor, in turn, is listed as an employee. An employee who has no supervisor has him/herself listed as the supervisor. 

* Perform a self join to recreate the following:

   ![Self Join](images/Self_Join.png)
  
## Hint

* The column listing the supervisor need not be a single column. However, to do so, consult this [link](https://www.w3schools.com/SQl/func_mysql_concat.asp) for info on the `CONCAT` function in MySQL.