* **Instructions**:

    * Create a new database called `Second_International_Bank` using MySQL Workbench

    * Within this new database, create a table called `Customers` with six columns that are capable of holding the following values...

        * `ID`: An integer that will be used as the primary key for the table and automatically increments

        * `FirstName`: A string which will hold a customer's first name

        * `LastName`: A string which will hold a customer's last name

        * `Loan`: A boolean which will let users know if the customer has any unpaid loans

        * `Checking`: A decimal value which will let users know how much money a customer has in their checking account

        * `Savings`: A decimal values which will let users know how much money a customer has in their savings account

    * Create five new rows of data to fill up the `Customers` table with some data

* **Bonus**:

    * Look into the [decimal](https://dev.mysql.com/doc/refman/5.7/en/precision-math-decimal-characteristics.html) datatype in MySQL and convert the `Checkings` and `Savings` columns so that they can only hold values with two or less numbers after a decimal point

```sql
create database if not exists Second_International_Bank;
use Second_International_Bank;

drop table if exists Customers;
create table Customers (
    ID int(50) auto_increment,
    FirstName varchar(50),
    LastName varchar(50),
    Loan decimal(20,2),
    Checking decimal(20,2),
    Savings decimal(20,2),
    primary key(ID)
);

insert into Customers(FirstName,LastName,Loan,Checking,Savings)
values("Josh", "Doctson", 1000.55, 10000.73, 200000.50);

insert into Customers(FirstName,LastName,Loan,Checking,Savings)
values("Tim", "Hardaway", 550000.00, 15.54, 6.05);

insert into Customers(FirstName,LastName,Loan,Checking,Savings)
values("Sandy", "Cofax", 0.00, 1005000.00, 50130025.00);

insert into Customers(FirstName,LastName,Loan,Checking,Savings)
values("Tank", "Abbott", 600.00, 2330.00, 1001450.00);

insert into Customers(FirstName,LastName,Loan,Checking,Savings)
values("Dozer", "Kensington", 2000.00, 1000.00, 20000.50);

select * from Customers;
```