In [1]:
from sqlalchemy import create_engine
import pandas as pd
from warnings import filterwarnings
import pymysql
filterwarnings('ignore', category=pymysql.Warning)
import os

In [2]:
engine = create_engine('mysql+pymysql://root:kcmo1728@localhost', encoding='utf-8')  # connect to server
engine.execute("create database if not exists players;")

In [3]:
# Use the player's database
engine = create_engine('mysql+pymysql://root:kcmo1728@localhost/players')

In [4]:
file_name = os.path.join('resources', 'matches.csv')
df = pd.read_csv(file_name)
df.head()

,best_of,draw_size,loser_age,loser_id,loser_name,loser_rank,loser_rank_points,match_num,round,score,surface,tourney_level,tourney_name,winner_age,winner_id,winner_name,winner_rank,winner_rank_points
0,3,128,17.859001,200002,Mirjana Lucic,49,640,1.0,R128,6-1 6-2,Hard,G,Australian Open,19.29637235,200001,Martina Hingis,1,6003
1,3,128,27.118412,200004,Kerry Anne Guse,133,199,2.0,R128,6-4 6-2,Hard,G,Australian Open,17.62902122,200003,Justine Henin,63,510
2,3,128,31.378508,200005,Jolene Watanabe Giltz,118,243,3.0,R128,6-0 6-1,Hard,G,Australian Open,26.45859001,200006,Karina Habsudova,53,574
3,3,128,22.006845,200007,Silvija Talaja,23,1112,4.0,R128,6-1 5-7 7-5,Hard,G,Australian Open,18.9705681,200008,Alicia Molik,116,245
4,3,128,24.821355,200010,Rita Grande,60,516,5.0,R128,6-3 6-4,Hard,G,Australian Open,22.65023956,200009,Tamarine Tanasugarn,72,439

In [5]:
df.to_sql(con=engine, name='matches', if_exists='replace', index=False)

In [6]:
file_name = os.path.join('resources', 'players.csv')
df = pd.read_csv(file_name)
df.head()

   player_id  first_name       last_name hand  birth_date country_code
0     200001     Martina          Hingis    R  19800930.0          SUI
1     200002     Mirjana           Lucic    R  19820309.0          CRO
2     200003     Justine           Henin    R  19820601.0          BEL
3     200004  Kerry Anne            Guse    R  19721204.0          AUS
4     200005      Jolene  Watanabe Giltz    R  19680831.0          USA

In [7]:
df.to_sql(con=engine, name='player_roster', if_exists='replace', index=False)

In [8]:
players = pd.read_sql_query('select * from player_roster', engine)
players.head()

   player_id  first_name       last_name hand  birth_date country_code
0     200001     Martina          Hingis    R  19800930.0          SUI
1     200002     Mirjana           Lucic    R  19820309.0          CRO
2     200003     Justine           Henin    R  19820601.0          BEL
3     200004  Kerry Anne            Guse    R  19721204.0          AUS
4     200005      Jolene  Watanabe Giltz    R  19680831.0          USA

In [9]:
matches = pd.read_sql_query('select * from matches', engine)
matches.head()

,best_of,draw_size,loser_age,loser_id,loser_name,loser_rank,loser_rank_points,match_num,round,score,surface,tourney_level,tourney_name,winner_age,winner_id,winner_name,winner_rank,winner_rank_points
0,3,128,17.859001,200002,Mirjana Lucic,49,640,1.0,R128,6-1 6-2,Hard,G,Australian Open,19.29637235,200001,Martina Hingis,1,6003
1,3,128,27.118412,200004,Kerry Anne Guse,133,199,2.0,R128,6-4 6-2,Hard,G,Australian Open,17.62902122,200003,Justine Henin,63,510
2,3,128,31.378508,200005,Jolene Watanabe Giltz,118,243,3.0,R128,6-0 6-1,Hard,G,Australian Open,26.45859001,200006,Karina Habsudova,53,574
3,3,128,22.006845,200007,Silvija Talaja,23,1112,4.0,R128,6-1 5-7 7-5,Hard,G,Australian Open,18.9705681,200008,Alicia Molik,116,245
4,3,128,24.821355,200010,Rita Grande,60,516,5.0,R128,6-3 6-4,Hard,G,Australian Open,22.65023956,200009,Tamarine Tanasugarn,72,439

* Notice that the loser_id, winner_id and the player_id all refer to the same id

* The **`INNER JOIN`** Returns records that have matching values in both tables.

In [10]:
sql_query = """
select *
from matches
inner join player_roster
on matches.winner_id = player_roster.player_id;
"""

inner_join = pd.read_sql_query(sql_query, engine)
inner_join

,best_of,draw_size,loser_age,loser_id,loser_name,loser_rank,loser_rank_points,match_num,round,score,...,winner_id,winner_name,winner_rank,winner_rank_points,player_id,first_name,last_name,hand,birth_date,country_code
0,3,128,17.859001,200002,Mirjana Lucic,49,640,1.0,R128,6-1 6-2,...,200001,Martina Hingis,1,6003,200001,Martina,Hingis,R,19800930.0,SUI
1,3,128,17.629021,200003,Justine Henin,63,510,65.0,R64,6-3 6-3,...,200001,Martina Hingis,1,6003,200001,Martina,Hingis,R,19800930.0,SUI
2,3,128,18.970568,200008,Alicia Molik,116,245,97.0,R32,6-2 6-3,...,200001,Martina Hingis,1,6003,200001,Martina,Hingis,R,19800930.0,SUI
3,3,128,27.789185,200016,Sandrine Testud,14,1635,113.0,R16,6-1 7-6(3),...,200001,Martina Hingis,1,6003,200001,Martina,Hingis,R,19800930.0,SUI
4,3,128,28.082136,200017,Arantxa Sanchez Vicario,15,1558,121.0,QF,6-1 6-1,...,200001,Martina Hingis,1,6003,200001,Martina,Hingis,R,19800930.0,SUI
5,3,128,27.753593,200049,Conchita Martinez,13,1713,125.0,SF,6-3 6-2,...,200001,Martina Hingis,1,6003,200001,Martina,Hingis,R,19800930.0,SUI
6,3,128,28.101300,200037,Sabine Appelmans,24,1045,1.0,R128,6-0 6-4,...,200001,Martina Hingis,1,5982,200001,Martina,Hingis,R,19800930.0,SUI
7,3,128,24.021903,200018,Julia Abe,156,165,65.0,R64,6-4 7-5,...,200001,Martina Hingis,1,5982,200001,Martina,Hingis,R,19800930.0,SUI
8,3,128,22.913073,200060,Tathiana Garbin,50,645,97.0,R32,6-1 6-0,...,200001,Martina Hingis,1,5982,200001,Martina,Hingis,R,19800930.0,SUI
9,3,128,27.594798,200059,Ruxandra Dragomir Ilie,32,877,113.0,R16,6-3 0-6 6-1,...,200001,Martina Hingis,1,5982,200001,Martina,Hingis,R,19800930.0,SUI
10,3,128,24.276523,200039,Chanda Rubin,25,1041,121.0,QF,6-1 6-3,...,200001,Martina Hingis,1,5982,200001,Martina,Hingis,R,19800930.0,SUI
11,3,128,24.889802,200106,Angeles Montolio,42,722,1.0,R128,6-1 6-2,...,200001,Martina Hingis,1,6000,200001,Martina,Hingis,R,19800930.0,SUI
12,3,128,26.324435,200075,Jing Qian Yi,78,393,65.0,R64,6-4 6-1,...,200001,Martina Hingis,1,6000,200001,Martina,Hingis,R,19800930.0,SUI
13,3,128,22.447639,200007,Silvija Talaja,22,1178,97.0,R32,6-2 6-2,...,200001,Martina Hingis,1,6000,200001,Martina,Hingis,R,19800930.0,SUI
14,3,128,25.560575,200081,Anke Huber,11,1893,113.0,R16,6-1 6-2,...,200001,Martina Hingis,1,6000,200001,Martina,Hingis,R,19800930.0,SUI
15,3,128,23.589322,200121,Alina Jidkova,100,324,1.0,R128,6-3 6-1,...,200001,Martina Hingis,1,5884,200001,Martina,Hingis,R,19800930.0,SUI
16,3,128,23.397673,200062,Kristina Brandi,34,847,65.0,R64,6-1 6-1,...,200001,Martina Hingis,1,5884,200001,Martina,Hingis,R,19800930.0,SUI
17,3,128,23.143053,200060,Tathiana Garbin,47,719,97.0,R32,6-1 6-0,...,200001,Martina Hingis,1,5884,200001,Martina,Hingis,R,19800930.0,SUI
18,3,128,28.383299,200016,Sandrine Testud,11,1862,113.0,R16,6-2 6-1,...,200001,Martina Hingis,1,5884,200001,Martina,Hingis,R,19800930.0,SUI
19,3,128,26.718686,200652,Monica Seles,6,2854,121.0,QF,6-0 7-5,...,200001,Martina Hingis,1,5884,200001,Martina,Hingis,R,19800930.0,SUI
20,3,56,23.811088,200022,Emmanuelle Gagliardi,70,485,25.0,R32,6-2 6-2,...,200001,Martina Hingis,2,6046,200001,Martina,Hingis,R,19800930.0,SUI
21,3,56,22.294319,200007,Silvija Talaja,23,1114,41.0,R16,7-6(3) 6-3,...,200001,Martina Hingis,2,6046,200001,Martina,Hingis,R,19800930.0,SUI
22,3,56,28.076660,200016,Sandrine Testud,10,1867,49.0,QF,7-5 5-7 6-2,...,200001,Martina Hingis,2,6046,200001,Martina,Hingis,R,19800930.0,SUI
23,3,56,18.184805,200069,Nadia Petrova,55,611,25.0,R32,6-1 6-3,...,200001,Martina Hingis,1,5914,200001,Martina,Hingis,R,19800930.0,SUI
24,3,56,25.100616,200117,Kveta Peschke,41,756,41.0,R16,6-1 6-4,...,200001,Martina Hingis,1,5914,200001,Martina,Hingis,R,19800930.0,SUI
25,3,56,28.364134,200016,Sandrine Testud,11,1852,49.0,QF,6-4 4-6 6-3,...,200001,Martina Hingis,1,5914,200001,Martina,Hingis,R,19800930.0,SUI
26,3,56,28.328542,200049,Conchita Martinez,6,2684,53.0,SF,6-3 6-2,...,200001,Martina Hingis,1,5914,200001,Martina,Hingis,R,19800930.0,SUI
27,3,56,18.882957,200033,Serena Williams,7,2613,55.0,F,0-6 6-3 3-0 RET,...,200001,Martina Hingis,1,5914,200001,Martina,Hingis,R,19800930.0,SUI
28,3,28,18.338125,200003,Justine Henin,47,724,13.0,R16,6-3 3-0 RET,...,200001,Martina Hingis,1,5684,200001,Martina,Hingis,R,19800930.0,SUI
29,3,28,27.340178,200080,Dominique Monami,18,1464,21.0,QF,6-2 6-1,...,200001,Martina Hingis,1,5684,200001,Martina,Hingis,R,19800930.0,SUI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2469,3,32,23.789185,203913,Niki Tippins,517,18,23.0,R16,6-1 6-3,...,203117,Jenny Belobrajdic,720,7,203117,Jenny,Belobrajdic,U,19820603.0,AUS
2470,3,32,26.132786,202265,Mirielle Dittmann,302,57,28.0,QF,7-6(3) 4-6 6-4,...,203117,Jenny Belobrajdic,720,7,203117,Jenny,Belobrajdic,U,19820603.0,AUS
2471,3,32,21.932923,200753,Cindy Watson,309,55,30.0,SF,7-6(3) 6-2,...,203117,Jenny Belobrajdic,720,7,203117,Jenny,Belobrajdic,U,19820603.0,AUS
2472,3,32,18.444901,203089,Kristen Van Elden,666,9,31.0,F,6-3 6-1,...,203117,Jenny Belobrajdic,720,7,203117,Jenny,Belobrajdic,U,19820603.0,AUS
2473,3,32,23.315537,204024,Natalie Dittmann,598,12,11.0,R32,6-2 1-6 6-3,...,203117,Jenny Belobrajdic,720,7,203117,Jenny,Belobrajdic,U,19820603.0,AUS
2474,3,32,21.661875,202192,Tzu Ting Weng,631,10,3.0,R32,6-4 6-4,...,203188,Emily Hewson,None,None,203188,Emily,Hewson,R,19820731.0,AUS
2475,3,32,17.872690,201289,Christina Wheeler,377,37,11.0,R32,6-4 6-2,...,203592,Melanie Ann Clayton,485,21,203592,Melanie Ann,Clayton,U,19810905.0,AUS
2476,3,32,26.132786,202265,Mirielle Dittmann,302,57,22.0,R16,6-1 6-1,...,203592,Melanie Ann Clayton,485,21,203592,Melanie Ann,Clayton,U,19810905.0,AUS
2477,3,16,18.269678,203105,I Ting Wang,572,13,1.0,R16,6-7(6) 7-5 6-4,...,203592,Melanie Ann Clayton,485,21,203592,Melanie Ann,Clayton,U,19810905.0,AUS
2478,3,16,19.000684,201708,Natalie Grandin,564,14,9.0,QF,3-6 6-3 6-2,...,203592,Melanie Ann Clayton,485,21,203592,Melanie Ann,Clayton,U,19810905.0,AUS
2479,3,16,26.132786,202265,Mirielle Dittmann,302,57,13.0,SF,6-4 3-6 7-6(3),...,203592,Melanie Ann Clayton,485,21,203592,Melanie Ann,Clayton,U,19810905.0,AUS
2480,3,16,26.529774,201847,Mareze Joubert,370,39,15.0,F,5-7 6-3 6-1,...,203592,Melanie Ann Clayton,485,21,203592,Melanie Ann,Clayton,U,19810905.0,AUS
2481,3,32,24.506502,204475,Kylie Hunt,361,41,13.0,R32,6-4 6-2,...,203913,Niki Tippins,517,18,203913,Niki,Tippins,U,19760515.0,NZL
2482,3,32,17.738535,203117,Jenny Belobrajdic,720,7,16.0,R32,6-4 6-2,...,204475,Kylie Hunt,361,41,204475,Kylie,Hunt,U,19750827.0,AUS
2483,3,32,24.156057,207633,Lucinda Gibbs,None,None,24.0,R16,6-0 6-1,...,204475,Kylie Hunt,361,41,204475,Kylie,Hunt,U,19750827.0,AUS
2484,3,32,20.317591,203079,Diana Gherghi,673,8,28.0,QF,2-6 6-4 2-0 RET,...,204475,Kylie Hunt,361,41,204475,Kylie,Hunt,U,19750827.0,AUS
2485,3,32,24.156057,207633,Lucinda Gibbs,None,None,13.0,R32,5-7 7-5 6-1,...,204475,Kylie Hunt,361,41,204475,Kylie,Hunt,U,19750827.0,AUS
2486,3,32,18.135524,204629,Emma Gott,804,5,8.0,R32,6-0 6-0,...,204579,Giselle Swart,None,None,204579,Giselle,Swart,U,19770817.0,RSA
2487,3,32,19.375770,203051,Satomi Kinjo,479,22,20.0,R16,6-3 6-3,...,204579,Giselle Swart,None,None,204579,Giselle,Swart,U,19770817.0,RSA
2488,3,16,25.774127,202128,Riei Kawamata,422,28,5.0,R16,6-4 7-5,...,204579,Giselle Swart,None,None,204579,Giselle,Swart,U,19770817.0,RSA
2489,3,32,18.056126,207261,Karolina Sadaj,855,4,11.0,R32,6-1 6-2,...,204579,Giselle Swart,None,None,204579,Giselle,Swart,U,19770817.0,RSA
2490,3,32,21.932923,200753,Cindy Watson,309,55,5.0,R32,7-6(4) 3-6 6-3,...,204579,Giselle Swart,None,None,204579,Giselle,Swart,U,19770817.0,RSA
2491,3,32,18.135524,204629,Emma Gott,804,5,19.0,R16,6-3 6-4,...,204579,Giselle Swart,None,None,204579,Giselle,Swart,U,19770817.0,RSA
2492,3,32,16.785763,203184,Beti Sekulovski,None,None,6.0,R32,6-2 3-6 6-3,...,204629,Emma Gott,804,5,204629,Emma,Gott,U,19820109.0,AUS
2493,3,32,19.148528,203143,Nicole Sewell,557,15,3.0,R32,6-4 1-6 6-4,...,204888,Ljiljana Nanusevic,609,11,204888,Ljiljana,Nanusevic,U,19810802.0,SRB
2494,3,4,17.500342,206999,Erika Villalobos Morsink,None,None,1.0,RR,6-1 6-1,...,206587,Daniela Alvarez,None,None,206587,Daniela,Alvarez,U,19831228.0,BOL
2495,3,4,17.935661,202930,Jessica Roland Rosario,None,None,1.0,RR,7-6(6) 6-1,...,206903,Glenny Cepeda,None,None,206903,Glenny,Cepeda,U,19810413.0,DOM
2496,3,32,18.573580,204888,Ljiljana Nanusevic,609,11,14.0,R32,6-4 6-2,...,207152,Bree Calderwood,927,2,207152,Bree,Calderwood,U,19800502.0,AUS
2497,3,32,20.542094,204465,Susanne Filipp,549,15,15.0,R32,6-4 6-2,...,207633,Lucinda Gibbs,None,None,207633,Lucinda,Gibbs,U,19760102.0,RSA
2498,3,4,18.715948,207000,Melissa Mendieta,None,None,2.0,RR,2-6 6-0 6-3,...,212102,Viviana Rivero,None,None,212102,Viviana,Rivero,None,19830121.0,BOL

In [100]:
sql_query = """
select first_name, last_name, tourney_name, score
from matches
inner join player_roster
on matches.winner_id = player_roster.player_id;
"""

inner_join = pd.read_sql_query(sql_query, engine)
inner_join.head()

  first_name last_name     tourney_name       score
0    Martina    Hingis  Australian Open     6-1 6-2
1    Martina    Hingis  Australian Open     6-3 6-3
2    Martina    Hingis  Australian Open     6-2 6-3
3    Martina    Hingis  Australian Open  6-1 7-6(3)
4    Martina    Hingis  Australian Open     6-1 6-1

In [101]:
sql_query = """
select first_name, last_name, tourney_name, score
from matches
inner join player_roster
on matches.winner_id = player_roster.player_id
where winner_id = 200003;
"""

inner_join = pd.read_sql_query(sql_query, engine)
inner_join

   first_name last_name      tourney_name        score
0     Justine     Henin   Australian Open      6-4 6-2
1     Justine     Henin           US Open      6-2 6-4
2     Justine     Henin           US Open      6-2 6-2
3     Justine     Henin           US Open      6-4 7-6
4     Justine     Henin        Bratislava      6-1 7-5
5     Justine     Henin        Bratislava      6-1 6-4
6     Justine     Henin     Canadian Open  6-2 4-6 6-3
7     Justine     Henin       Filderstadt      6-4 6-2
8     Justine     Henin            Hobart  6-4 4-6 6-2
9     Justine     Henin            Hobart      6-3 6-1
10    Justine     Henin      Knokke-Heist  6-3 1-2 RET
11    Justine     Henin        Luxembourg   6-2 7-6(5)
12    Justine     Henin         New Haven      6-2 6-4
13    Justine     Henin           Palermo      7-5 6-2
14    Justine     Henin           Palermo      6-2 6-0
15    Justine     Henin             Paris   6-4 7-6(4)
16    Justine     Henin  's-Hertogenbosch  5-7 6-3 6-1