In [2]:
import pandas as pd

In [3]:
data_series = pd.Series(["UCLA", "KU", "K-State", "UMKC"])

In [4]:
data_series

0       UCLA
1         KU
2    K-State
3       UMKC
dtype: object

In [5]:
data_series.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
data_series.values

array(['UCLA', 'KU', 'K-State', 'UMKC'], dtype=object)

In [7]:
new_data = pd.Series([.2, .3, .4, .5], [2,5,3,7])

In [8]:
new_data

2    0.2
5    0.3
3    0.4
7    0.5
dtype: float64

In [9]:
new_data[5]

0.29999999999999999

In [11]:
state_dict = [{"State":"New Jersey", "Abr":"NJ"},
              {"State":"New York", "Abr":"NY"}]
state_dict

[{'Abr': 'NJ', 'State': 'New Jersey'}, {'Abr': 'NY', 'State': 'New York'}]

In [14]:
df_states = pd.DataFrame(state_dict)
df_states

  Abr       State
0  NJ  New Jersey
1  NY    New York

In [15]:
df = pd.DataFrame({
    "State": ["New Jersey", "New York"],
    "Abr": ["NJ", "NY"]
})
df

  Abr       State
0  NJ  New Jersey
1  NY    New York

In [17]:
df = pd.DataFrame({
    "Frame": ["Ornate", "Classical", "Modern", "Wood", "Cardboard"],
    "Price": [15.0, 12.5, 10.0, 5.0, 1.0],
    "Sales": ["100", "200", "150", "300", "N/A"]
})
df

SyntaxError: invalid syntax (<ipython-input-17-4acec7d69c3b>, line 4)