# Miles Per Gallon

There are many different features of a car that can help determine how many miles per gallon it has. In this activity, we will be creating a scatterplot to chart some of these relationships.

* The scatterplot that we want to create will compare 'mpg' to 'horsepower'. A reference image can be found at the bottom of this notebook, but how we go about creating this chart is completely up to you!

    * When reading in the data, there are 6 rows that are missing values in 'horsepower'. It is up to you to figure out what the author put in their place and drop the rows.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [2]:
file_name = os.path.join("Resources", "MPG.csv")
car_data = pd.read_csv(file_name)
car_data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [3]:
car_data[car_data['horsepower'] == '?']

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
32,25.0,4,98.0,?,2046,19.0,71,1,ford pinto
126,21.0,6,200.0,?,2875,17.0,74,1,ford maverick
330,40.9,4,85.0,?,1835,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,?,2905,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,?,2320,15.8,81,2,renault 18i
374,23.0,4,151.0,?,3035,20.5,82,1,amc concord dl

In [8]:
# Remove the rows with missing values in horsepower
car_data_clean = car_data[car_data['horsepower'] != '?']
car_data_clean.head(40)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383.0,170,3563,10.0,70,1,dodge challenger se
11,14.0,8,340.0,160,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400.0,150,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455.0,225,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113.0,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198.0,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199.0,97,2774,15.5,70,1,amc hornet
17,21.0,6,200.0,85,2587,16.0,70,1,ford maverick
18,27.0,4,97.0,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97.0,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87,2672,17.5,70,2,peugeot 504
21,24.0,4,107.0,90,2430,14.5,70,2,audi 100 ls
22,25.0,4,104.0,95,2375,17.5,70,2,saab 99e
23,26.0,4,121.0,113,2234,12.5,70,2,bmw 2002
24,21.0,6,199.0,90,2648,15.0,70,1,amc gremlin
25,10.0,8,360.0,215,4615,14.0,70,1,ford f250
26,10.0,8,307.0,200,4376,15.0,70,1,chevy c20
27,11.0,8,318.0,210,4382,13.5,70,1,dodge d200
28,9.0,8,304.0,193,4732,18.5,70,1,hi 1200d
29,27.0,4,97.0,88,2130,14.5,71,3,datsun pl510
30,28.0,4,140.0,90,2264,15.5,71,1,chevrolet vega 2300
31,25.0,4,113.0,95,2228,14.0,71,3,toyota corona
33,19.0,6,232.0,100,2634,13.0,71,1,amc gremlin
34,16.0,6,225.0,105,3439,15.5,71,1,plymouth satellite custom
35,17.0,6,250.0,100,3329,15.5,71,1,chevrolet chevelle malibu
36,19.0,6,250.0,88,3302,15.5,71,1,ford torino 500
37,18.0,6,232.0,100,3288,15.5,71,1,amc matador
38,14.0,8,350.0,165,4209,12.0,71,1,chevrolet impala
39,14.0,8,400.0,175,4464,11.5,71,1,pontiac catalina brougham
40,14.0,8,351.0,153,4154,13.5,71,1,ford galaxie 500

In [5]:
# Set the 'car name' as our index
car_data_reorg = car_data_clean.set_index("car name")

car_data_reorg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
car name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130,3504,12.0,70,1
buick skylark 320,15.0,8,350.0,165,3693,11.5,70,1
plymouth satellite,18.0,8,318.0,150,3436,11.0,70,1
amc rebel sst,16.0,8,304.0,150,3433,12.0,70,1
ford torino,17.0,8,302.0,140,3449,10.5,70,1

In [6]:
# Remove the 'origin' column
car_data_reorg.drop('origin', axis=1, inplace=True)

car_data_reorg.head(100)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year
car name,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130,3504,12.0,70
buick skylark 320,15.0,8,350.0,165,3693,11.5,70
plymouth satellite,18.0,8,318.0,150,3436,11.0,70
amc rebel sst,16.0,8,304.0,150,3433,12.0,70
ford torino,17.0,8,302.0,140,3449,10.5,70
ford galaxie 500,15.0,8,429.0,198,4341,10.0,70
chevrolet impala,14.0,8,454.0,220,4354,9.0,70
plymouth fury iii,14.0,8,440.0,215,4312,8.5,70
pontiac catalina,14.0,8,455.0,225,4425,10.0,70
amc ambassador dpl,15.0,8,390.0,190,3850,8.5,70
dodge challenger se,15.0,8,383.0,170,3563,10.0,70
plymouth 'cuda 340,14.0,8,340.0,160,3609,8.0,70
chevrolet monte carlo,15.0,8,400.0,150,3761,9.5,70
buick estate wagon (sw),14.0,8,455.0,225,3086,10.0,70
toyota corona mark ii,24.0,4,113.0,95,2372,15.0,70
plymouth duster,22.0,6,198.0,95,2833,15.5,70
amc hornet,18.0,6,199.0,97,2774,15.5,70
ford maverick,21.0,6,200.0,85,2587,16.0,70
datsun pl510,27.0,4,97.0,88,2130,14.5,70
volkswagen 1131 deluxe sedan,26.0,4,97.0,46,1835,20.5,70
peugeot 504,25.0,4,110.0,87,2672,17.5,70
audi 100 ls,24.0,4,107.0,90,2430,14.5,70
saab 99e,25.0,4,104.0,95,2375,17.5,70
bmw 2002,26.0,4,121.0,113,2234,12.5,70
amc gremlin,21.0,6,199.0,90,2648,15.0,70
ford f250,10.0,8,360.0,215,4615,14.0,70
chevy c20,10.0,8,307.0,200,4376,15.0,70
dodge d200,11.0,8,318.0,210,4382,13.5,70
hi 1200d,9.0,8,304.0,193,4732,18.5,70
datsun pl510,27.0,4,97.0,88,2130,14.5,71
...,...,...,...,...,...,...,...
mazda rx2 coupe,19.0,3,70.0,97,2330,13.5,72
amc matador (sw),15.0,8,304.0,150,3892,12.5,72
chevrolet chevelle concours (sw),13.0,8,307.0,130,4098,14.0,72
ford gran torino (sw),13.0,8,302.0,140,4294,16.0,72
plymouth satellite custom (sw),14.0,8,318.0,150,4077,14.0,72
volvo 145e (sw),18.0,4,121.0,112,2933,14.5,72
volkswagen 411 (sw),22.0,4,121.0,76,2511,18.0,72
peugeot 504 (sw),21.0,4,120.0,87,2979,19.5,72
renault 12 (sw),26.0,4,96.0,69,2189,18.0,72
ford pinto (sw),22.0,4,122.0,86,2395,16.0,72
datsun 510 (sw),28.0,4,97.0,92,2288,17.0,72
toyouta corona mark ii (sw),23.0,4,120.0,97,2506,14.5,72
dodge colt (sw),28.0,4,98.0,80,2164,15.0,72
toyota corolla 1600 (sw),27.0,4,97.0,88,2100,16.5,72
buick century 350,13.0,8,350.0,175,4100,13.0,73
amc matador,14.0,8,304.0,150,3672,11.5,73
chevrolet malibu,13.0,8,350.0,145,3988,13.0,73
ford gran torino,14.0,8,302.0,137,4042,14.5,73
dodge coronet custom,15.0,8,318.0,150,3777,12.5,73
mercury marquis brougham,12.0,8,429.0,198,4952,11.5,73
chevrolet caprice classic,13.0,8,400.0,150,4464,12.0,73
ford ltd,13.0,8,351.0,158,4363,13.0,73
plymouth fury gran sedan,14.0,8,318.0,150,4237,14.5,73
chrysler new yorker brougham,13.0,8,440.0,215,4735,11.0,73
buick electra 225 custom,12.0,8,455.0,225,4951,11.0,73
amc ambassador brougham,13.0,8,360.0,175,3821,11.0,73
plymouth valiant,18.0,6,225.0,105,3121,16.5,73
chevrolet nova custom,16.0,6,250.0,100,3278,18.0,73
amc hornet,18.0,6,232.0,100,2945,16.0,73
ford maverick,18.0,6,250.0,88,3021,16.5,73

In [7]:
# Convert the "horsepower" column to numeric so the data can be used
car_data_reorg['horsepower'] = pd.to_numeric(car_data['horsepower'])
car_data_reorg.dtypes

ValueError: Unable to parse string "?" at position 32

In [9]:
# Create a scatter plot which compares MPG to horsepower with the size being model year